USE [master]
GO
/****** Object:  Database [payrollManagement]    Script Date: 4/26/2026 3:31:42 PM ******/
CREATE DATABASE [payrollManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'payrollManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLE2014\MSSQL\DATA\payrollManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'payrollManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLE2014\MSSQL\DATA\payrollManagement_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [payrollManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [payrollManagement]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[logo_path] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[website] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departments]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [departments_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[employees]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[position] [nvarchar](255) NOT NULL,
	[basic_salary] [decimal](10, 2) NOT NULL,
	[allowance] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[overtime_hours] [int] NOT NULL DEFAULT ('0'),
	[hourly_rate] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [employees_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[migrations]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[payroll_records]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_records](
	[id] [uniqueidentifier] NOT NULL,
	[employee_id] [uniqueidentifier] NOT NULL,
	[month] [tinyint] NOT NULL,
	[year] [smallint] NOT NULL,
	[gross_pay] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[overtime_pay] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[tax] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[epf_employee] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[epf_employer] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[net_pay] [decimal](10, 2) NOT NULL DEFAULT ('0'),
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [payroll_records_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[personal_access_tokens]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_access_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tokenable_type] [nvarchar](255) NOT NULL,
	[tokenable_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[token] [nvarchar](64) NOT NULL,
	[abilities] [nvarchar](max) NULL,
	[last_used_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 4/26/2026 3:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NOT NULL,
	[remember_token] [nvarchar](100) NULL,
 CONSTRAINT [users_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[departments] ([id], [name], [created_at], [updated_at]) VALUES (N'a19e8701-b985-4ed5-b631-4c3d3fa43785', N'Engineering', CAST(N'2026-04-24 09:20:19.423' AS DateTime), CAST(N'2026-04-24 09:20:19.423' AS DateTime))
INSERT [dbo].[departments] ([id], [name], [created_at], [updated_at]) VALUES (N'a1a0f9d9-5555-42ac-8ebf-635ee66c79b9', N'Administration', CAST(N'2026-04-25 14:33:06.097' AS DateTime), CAST(N'2026-04-25 14:33:06.097' AS DateTime))
INSERT [dbo].[departments] ([id], [name], [created_at], [updated_at]) VALUES (N'a19eecf1-1caf-4398-8c68-7c79899af3b1', N'Information Technologies', CAST(N'2026-04-24 14:05:21.300' AS DateTime), CAST(N'2026-04-24 14:05:21.300' AS DateTime))
INSERT [dbo].[employees] ([id], [department_id], [name], [position], [basic_salary], [allowance], [overtime_hours], [hourly_rate], [created_at], [updated_at]) VALUES (N'a19e8732-2034-4c48-b3fd-4fd0667f0afd', N'a19e8701-b985-4ed5-b631-4c3d3fa43785', N'Siti Aminah', N'Engineer', CAST(4000.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), 10, CAST(25.00 AS Decimal(10, 2)), CAST(N'2026-04-24 09:20:51.143' AS DateTime), CAST(N'2026-04-24 09:20:51.143' AS DateTime))
INSERT [dbo].[employees] ([id], [department_id], [name], [position], [basic_salary], [allowance], [overtime_hours], [hourly_rate], [created_at], [updated_at]) VALUES (N'a19eed28-2c70-4d25-b49c-5f37a62b77f1', N'a19eecf1-1caf-4398-8c68-7c79899af3b1', N'Farah Nur Izzati', N'Software Engineer', CAST(5500.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), 10, CAST(25.00 AS Decimal(10, 2)), CAST(N'2026-04-24 14:05:57.383' AS DateTime), CAST(N'2026-04-24 16:17:17.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'2014_10_12_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (2, N'2014_10_12_100000_create_password_reset_tokens_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (3, N'2019_08_19_000000_create_failed_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
INSERT [dbo].[payroll_records] ([id], [employee_id], [month], [year], [gross_pay], [overtime_pay], [tax], [epf_employee], [epf_employer], [net_pay], [created_at], [updated_at]) VALUES (N'a1a103a3-7416-4626-8587-0d94156e4c3e', N'a19e8732-2034-4c48-b3fd-4fd0667f0afd', 6, 2025, CAST(4850.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), CAST(388.00 AS Decimal(10, 2)), CAST(533.50 AS Decimal(10, 2)), CAST(145.50 AS Decimal(10, 2)), CAST(3928.50 AS Decimal(10, 2)), CAST(N'2026-04-25 15:00:28.507' AS DateTime), CAST(N'2026-04-25 15:00:28.553' AS DateTime))
INSERT [dbo].[payroll_records] ([id], [employee_id], [month], [year], [gross_pay], [overtime_pay], [tax], [epf_employee], [epf_employer], [net_pay], [created_at], [updated_at]) VALUES (N'a1a10448-a112-49d2-b296-128f9a7d6f57', N'a19e8732-2034-4c48-b3fd-4fd0667f0afd', 3, 2019, CAST(4850.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), CAST(388.00 AS Decimal(10, 2)), CAST(533.50 AS Decimal(10, 2)), CAST(145.50 AS Decimal(10, 2)), CAST(3928.50 AS Decimal(10, 2)), CAST(N'2026-04-25 15:02:16.757' AS DateTime), CAST(N'2026-04-25 15:02:16.760' AS DateTime))
INSERT [dbo].[payroll_records] ([id], [employee_id], [month], [year], [gross_pay], [overtime_pay], [tax], [epf_employee], [epf_employer], [net_pay], [created_at], [updated_at]) VALUES (N'a1a10548-a8a6-4840-b5df-29698da99e32', N'a19eed28-2c70-4d25-b49c-5f37a62b77f1', 4, 2021, CAST(6150.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), CAST(492.00 AS Decimal(10, 2)), CAST(676.50 AS Decimal(10, 2)), CAST(184.50 AS Decimal(10, 2)), CAST(4981.50 AS Decimal(10, 2)), CAST(N'2026-04-25 15:05:04.543' AS DateTime), CAST(N'2026-04-25 15:37:36.447' AS DateTime))
INSERT [dbo].[users] ([id], [name], [email], [password], [created_at], [updated_at], [remember_token]) VALUES (N'a1a1552a-0df7-4646-b7af-b934551d31eb', N'Nur Dahlia Ammara', N'admin@admin.com', N'$2y$10$VssHMWJ1xhQq2UXcqRmA1OLZ4Cbfbal5egyAHh1jSAumZYt3AKMYS', CAST(N'2026-04-25 18:48:26.263' AS DateTime), CAST(N'2026-04-25 18:48:26.263' AS DateTime), NULL)
INSERT [dbo].[users] ([id], [name], [email], [password], [created_at], [updated_at], [remember_token]) VALUES (N'5c8a6923-2daf-4390-afff-bf9fe08fa023', N'Farah Nur Izzati Ab Rahman', N'admin@gmail.com', N'$2y$10$BMsDjCSy1CkV1AGnePVche/OcYzihaRsFRcqIGyhKblkocPGRbR9e', CAST(N'2026-04-23 18:51:38.000' AS DateTime), CAST(N'2026-04-23 18:51:38.000' AS DateTime), N'yohrYsqKxgPMmcHHQtvugJkfeFrW9FDHh8f4k2EbpU3uryBlWnWfwdoUy0RL')
SET ANSI_PADDING ON

GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 4/26/2026 3:31:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [personal_access_tokens_token_unique]    Script Date: 4/26/2026 3:31:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [personal_access_tokens_token_unique] ON [dbo].[personal_access_tokens]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [personal_access_tokens_tokenable_type_tokenable_id_index]    Script Date: 4/26/2026 3:31:42 PM ******/
CREATE NONCLUSTERED INDEX [personal_access_tokens_tokenable_type_tokenable_id_index] ON [dbo].[personal_access_tokens]
(
	[tokenable_type] ASC,
	[tokenable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [users_email_unique]    Script Date: 4/26/2026 3:31:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [employees_department_id_foreign] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [employees_department_id_foreign]
GO
ALTER TABLE [dbo].[payroll_records]  WITH CHECK ADD  CONSTRAINT [payroll_records_employee_id_foreign] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[payroll_records] CHECK CONSTRAINT [payroll_records_employee_id_foreign]
GO
USE [master]
GO
